# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

Import Pandas, numpy and json packages

In [3]:
import pandas as pd
import numpy as np

In [4]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [5]:
# load json as string
data = json.load((open('data/world_bank_projects.json')))
#data

In [6]:
#Load json as a DataFrame
json_df = pd.read_json('data/world_bank_projects.json')
#json_df

Q1: Find the 10 countries with most projects
A: Use 'countryname' column and find value_counts with method chaining and slice the top 10 rows

In [7]:
#Top 10 countries with most projects
df =json_df['countryname'].value_counts()[:10]
df

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [9]:
#check contents of 'mjtheme_namecode' column
df = json_df['mjtheme_namecode']
#df

Q2. Find the top 10 major project themes (using column 'mjtheme_namecode')
A: Use json_normalize to select 'mjtheme_namecode' key. Then, do value_counts on the 'name' value of the 'mjtheme_namecode' key

In [10]:
#Top 10 major project themes
j = json_normalize(data, 'mjtheme_namecode')
j =j.name.value_counts()[:10]
j

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

Q3: In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
A: Missing values have been filled with NaNs

In [11]:
# fill missing rows with NaN
j = json_normalize(data, 'mjtheme_namecode')
j =j.name.replace('',np.NaN)
j

0                                  Human development
1                                                NaN
2                                Economic management
3              Social protection and risk management
4                              Trade and integration
5                           Public sector governance
6       Environment and natural resources management
7              Social protection and risk management
8                        Social dev/gender/inclusion
9                        Social dev/gender/inclusion
10                             Trade and integration
11          Financial and private sector development
12             Social protection and risk management
13                                               NaN
14                          Public sector governance
15          Financial and private sector development
16      Environment and natural resources management
17                                               NaN
18                                 Rural development
19                                               NaN
20                          Public sector governance
21                          Public sector governance
22                          Public sector governance
23                                 Rural development
24                                               NaN
25                                 Rural development
26             Social protection and risk management
27             Social protection and risk management
28      Environment and natural resources management
29                                               NaN
                            ...
1469                               Human development
1470                               Urban development
1471           Social protection and risk management
1472           Social protection and risk management
1473                               Urban development
1474                        Public sector governance
1475                        Public sector governance
1476                               Rural development
1477                                             NaN
1478                               Human development
1479                     Social dev/gender/inclusion
1480    Environment and natural resources management
1481                                             NaN
1482           Social protection and risk management
1483                                             NaN
1484        Financial and private sector development
1485                     Social dev/gender/inclusion
1486                               Human development
1487                           Trade and integration
1488                        Public sector governance
1489                               Human development
1490                               Rural development
1491                                             NaN
1492                               Rural development
1493                               Rural development
1494                               Rural development
1495                               Urban development
1496                               Human development
1497                           Trade and integration
1498        Financial and private sector development
Name: name, Length: 1499, dtype: object

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64